.landing-div{
    height: 100vh;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;

    .introduction-script{
    margin-left: 2vh;
    color: white;
    }
    .html-background-tags{
        color: rgba(19, 174, 185, 0.74);
        opacity: 50%;
    }
    .margin-top-5{
        margin-top: .5vh;
    }
    .margin-top-3{
        margin-top: .3vh;
    }
    .content{
        font-size: 5vh;
    }
    .outer-frame{
        height:50vh;
        width: 35vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #3e3e41;
        border-radius: 2%;
        .inner-frame{
            height: 45vh;
            width: 30vh;
            border-radius: 2%;
            background-color: #1c1d25;
        }
    }
}
