@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,500&display=swap');

.dancing-script-font{
    font-family: 'Dancing Script', cursive;
}
.caveat-font{
    font-family: 'Caveat', cursive;
}
 .cormorant-garamond{
    font-family: 'Cormorant Garamond', serif;
 }
 .html-background-tags{
    color: rgba(181, 144, 216, 0.61);
    opacity: 50%;
}