@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,500&display=swap');

.dancing-script-font{
    font-family: 'Dancing Script', cursive;
}
.caveat-font{
    font-family: 'Caveat', cursive;
}
 .cormorant-garamond{
    font-family: 'Cormorant Garamond', serif;
 }
 .html-light-background-tags{
    color: rgba(233, 236, 215, 0.911);
    opacity: 30%;
}
.html-dark-background-tags{
    color: rgba(51, 53, 41, 0.911);
    opacity: 30%;
}