@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.dancing-script-font{
    font-family: 'Dancing Script', cursive;
}
.caveat-font{
    font-family: 'Caveat', cursive;
}

.em-3{
    font-size: 3em;
}
.em-2{
    font-size: 2em;

}
.em-1{
    font-size: 1em;
}
