@import "../../common/style/colors.scss";
@import "../../common/style/fonts.scss";

.landing-div {
  height: 100vh;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  margin: 10vh;

  .introduction-script {
    margin-left: 2vh;
    color: $introduction-white;
  }
  .content {
    font-size: 5vh;
    margin-left: 1.5vh;
    font-family: $dancing-script-font;
  }
  .color-red {
    color: $introduction-red;
  }
  .color-yellow {
    color: $yello-heading-color;
  }
  .color-cyan {
    color: $cyan-link-color;
  }
  .image-section {
    @media only screen and (min-width: 480px) {
      margin-top: 5vh;
    }
    @media only screen and (min-width: 768px) {
      margin-top: 5vh;
    }
    @media only screen and (min-width: 992px) {
      margin: 0;
    }
    .outer-frame {
      height: 55vh;
      width: 35vh;
      display: flex;
      justify-content: center; 
      align-items: center;
      background-color: $background-frame-yellow;
      border-radius: 2%;
      border: 0.2vh solid $introduction-white;
      padding: 0.4vh;
      box-shadow: 0 0 0.2rem $introduction-white, 0 0 0.2rem $introduction-white,
        0 0 2rem $background-frame-yellow, 0 0 0.8rem $background-frame-yellow,
        0 0 2.8rem $background-frame-yellow,
        inset 0 0 1.3rem $background-frame-yellow;
      .inner-frame {
        height: 50vh;
        width: 30vh;
        border-radius: 2%;
        .profile-image {
          height: 55vh;
          width: 30vh;
          border-radius: 2%;
        }
      }
    }
  }
}
