.form-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 10vh 0vh 0vh 0vh; //margin top
  .margin-left {
    margin-left: 1.5vh;
  }
  .form-heading {
    color: #fbff09;
    margin: 0vh 0vh 0vh 1.5vh;
  }
  .form-text {
    color: rgb(65, 138, 138);;
    margin: 0vh 0vh 0vh 1.5vh;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0vh 0vh 0vh 1.5vh;
    .form-row {
      display: flex;
      flex-direction: column;
      margin: 0vh 0vh 2vh 0vh;
      .input-field-row {
        border-radius: 5%;
        padding: 1.5vh;
        margin: 2vh 0vh 0vh 0vh;
      }
      .error {
        color: rgb(235, 92, 92);
        font-size: 2vh;
      }
    }
    .disabled-btn {
      width: 40%;
      height: 5vh;
      border-radius: 4%;
      background-color: #679e9e;
      border-top: #181b1b;
      border-left: #181b1b;
      color: rgba(255, 255, 255, 0.322);
      outline: #181b1b;
      border-bottom: 0.3vh solid;
    }
    .button {
      width: 40%;
      height:5vh;
      border-radius: 4%;
      background-color: #679e9e;
      border: white;
      color: white;
      outline: #181b1b;
      border-bottom: 0.3vh solid;
      box-shadow: 0 0 2vh #9eb9e0;
    }
  }
}

.grey {
  background-color: #181b1b;
  border-top: #181b1b;
  border-left: #181b1b;
  color: white;
  outline: #181b1b;
  border-bottom: 0.3vh solid;
  box-shadow: 0 0 2vh #9eb9e0;
}
.strong-blue {
  background-color: rgb(214, 218, 214);
  border-top: rgb(208, 216, 204);
  border-left: rgb(208, 216, 204);
  border-right: rgb(208, 216, 204);
  color: white;
  outline: rgb(208, 216, 204);
  border-bottom: 0.3vh solid #9eb9e0;
  box-shadow: 0 0 2vh #9eb9e0;
}
