.about-container {
  height: 100vh;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .heading {
    font-size: 5vh;
    margin-left: 1.5vh;
    color: #fbff09;
  }
  .about-content {
    font-size: 2.5vh;
    margin-left: 1.5vh;
  }
  .blue{
    cursor: pointer;
    color:rgb(65, 138, 138);;
  }
  .about {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    width: 50vh;
    height: -webkit-fill-available;
  }
}
