@import '../../../common/style/colors.scss';
@import '../../../common/style/fonts.scss';


.time-line-container{
    display: flex;
    flex-direction: row;
    margin: 2vh;
    .time-line-element-image{
        // margin: 0vh 2vh 2vh 2vh;
        height: 5vh;
        width: 15vh;
    }
    .time-line-element-content{
        // margin: 0vh 2vh 2vh 2vh;
        width: max-content;
        font-family: $cormorant-garamond-font;
        font-size: 2.5vh;
        .element-content-title{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
        }
    }
}