.contact-container {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100vh;
  .light-contact {
    color: white;
    width: 50vh;
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      -webkit-text-fill-color: white;
      caret-color: white;
      box-shadow: 0 0 2vh 3vh #181b1b inset,0 0 2vh #9eb9e0;
      -webkit-box-shadow: 0 0 2vh 3vh #181b1b inset,0 0 2vh #9eb9e0;
    }
  }
  .dark-contact {
    color: white;
    width: 50vh;
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      -webkit-text-fill-color: black;
      caret-color: black;
      box-shadow: 0 0 2vh 3vh rgb(214, 218, 214) inset,0 0 2vh #9eb9e0;
      -webkit-box-shadow: 0 0 2vh 3vh rgb(214, 218, 214) inset,0 0 2vh #9eb9e0;
    }
}
  .maps {
    margin: 10vh 0vh 0vh 0vh;
    width: 75vh;
    height: 80%;
    overflow: unset;
    position: relative;
  }
}
