@keyframes expand {
    from {opacity: 0%; height: 0%;}
    to {opacity: 100%; height: 50%;}
}

@keyframes ghost-out {
    from {opacity: 100%; height: 50%;}
    to {opacity: 0%; height: 0%;}
}

.nav-bar{
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: max-content;
    color: white;
    position: sticky; // to make the nav stick 
    top: 0; // to maintain the position of the sticky nav
    .active{
        color:#d2d382;
    }
    .nav-menu{
        display: block;
        opacity: 100%;
        padding: 2vh 0vh 0vh 2vh;
        cursor: pointer;
    }

    .nav-items{
        text-decoration: none;
        animation: ghost-out;
        animation-duration: .2s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        opacity: 0%;
        height: 0%;
        padding: 2vh 0vh 0vh 2vh;
        cursor: pointer;
        .items{
            text-decoration: none;
            color: white;
        }
        :hover{
            opacity: 50%;
            color:#d2d382;
        }
    }
}

.nav-bar:hover > .nav-menu{
        animation: ghost-out;
        animation-duration: .3s;
        display: none;
        opacity: 0%;
} 
.nav-bar:hover > .nav-items{
    animation: expand;
    animation-duration: .3s;
    display: flex;
    opacity: 100%;
    flex-direction: column;
    justify-content: space-between;
    // align-items: center;
    align-content: center;
    height: 50%;
} 
