@import "../../common/style/colors.scss";
@import "../../common/style/fonts.scss";
.technology-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  .technology-heading-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .technology-heading {
      font-size: 5vh;
      margin-left: 1.5vh;
      color: $yello-heading-color;
      font-family: $dancing-script-font;
    }
  }

  .technology {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .tech-container {
      .card {
        width: 30vh;
        height: 10vh;
        margin: 3vh;
        border-radius: 2vh;
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        align-items: center;
        box-shadow: 0 0 0.2vh $introduction-white, 0 0 0.2vh $introduction-white,
          inset 0 0 1.3rem $introduction-white;
        cursor: pointer;
        :hover{
          box-shadow: none;
        }
        .tech-img {
          margin-left: 2vh;
          width: 5vh;
          height: 5vh;
        }
        .tech-title {
          margin-left: 4vh;
          font-size: 2.5vh;
          font-family: $caveat-font;
        }
      }
      :hover{
        box-shadow: 0 0 0.2vh $yello-heading-color, 0 0 0.2vh $yello-heading-color,
        inset 0 0 1.3rem $yello-heading-color;

      }
    }
  }
}
