@import '../../../common/style/colors.scss';

.form-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 10vh 0vh 0vh 0vh; //margin top
  .margin-left {
    margin-left: 1.5vh;
  }
  .form-heading {
    color: $yello-heading-color;
    margin: 0vh 0vh 0vh 1.5vh;
  }
  .form-text {
    color: $cyan-link-color;
    margin: 0vh 0vh 0vh 1.5vh;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0vh 0vh 0vh 1.5vh;
    .form-row {
      display: flex;
      flex-direction: column;
      margin: 0vh 0vh 2vh 0vh;
      .input-field-row {
        border-radius: 5%;
        padding: 1.5vh;
        margin: 2vh 0vh 0vh 0vh;
      }
      .error {
        color: $introduction-red;
        font-size: 2vh;
      }
    }
    .disabled-btn {
      width: 40%;
      height: 5vh;
      border-radius: 4%;
      background-color: $cyan-link-color;
      border-top: $dark-theme;
      border-left: $dark-theme;
      color: $btn-disabled;
      outline: $dark-theme;
      border-bottom: 0.3vh solid;
    }
    .button {
      width: 40%;
      height:5vh;
      border-radius: 4%;
      background-color: $cyan-link-color;
      border: $introduction-white;
      color: $introduction-white;
      outline: $dark-theme;
      border-bottom: 0.3vh solid;
      box-shadow: 0 0 2vh $blue-neon;
    }
  }
}

.grey {
  background-color: $dark-theme;
  border-top: $dark-theme;
  border-left: $dark-theme;
  color: $introduction-white;
  outline: $dark-theme;
  border-bottom: 0.3vh solid;
  box-shadow: 0 0 2vh $blue-neon;
}
.strong-blue {
  background-color: $light-theme;
  border-top: $blue-neon;
  border-left: $blue-neon;
  border-right: $blue-neon;
  color: $introduction-black;
  outline: $blue-neon;
  border-bottom: 0.3vh solid $blue-neon;
  box-shadow: 0 0 2vh $blue-neon;
}
