.form-row {
    display: flex;
    flex-direction: column;
    .input-field-row {
      padding: 1.5vh;
      color: black;
      background-color: #fbff09;
      border: #fbff09;
      border-radius: 0.7vh;
      outline: whitesmoke;
    }
    .error {
      color: red;
      font-size: 0.7em;
    }
  }