@import "../../common//style/colors.scss";
@import "../../common/style/common-styles.scss";
@import "../../common/style/fonts.scss";

.about-container {
  height: 100vh;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .about {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    width: 50vh;
    height: -webkit-fill-available;
    .about-heading {
      font-size: 5vh;
      margin-left: 1.5vh;
      color: $yello-heading-color;
      font-family: $dancing-script-font;
    }
    .about-content {
      font-size: 2.5vh;
      margin-left: 1.5vh;
      font-family: $cormorant-garamond-font;
      .about-link {
        cursor: pointer;
        color: $cyan-link-color;
        font-family: $cormorant-garamond-font;
      }
    }
  }
}
