$yello-heading-color: #fbff09;
$cyan-link-color: rgb(65, 138, 138);

$background-html-tags-color-light:rgba(233, 236, 215, 0.911);
$background-html-tags-color-dark:rgba(51, 53, 41, 0.911);

$introduction-white: white;
$introduction-black: black;
$introduction-red:rgba(212, 51, 51, 0.808);
$background-frame-yellow:#dadb75;

$blue-neon:#9eb9e0;
$dark-theme:#181b1b;
$light-theme:rgb(214, 218, 214);
$btn-disabled:rgba(255, 255, 255, 0.322);
$grey-heading: rgba(192, 192, 192, 0.795);