@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,500&display=swap');

$dancing-script-font:'Dancing Script', cursive;
$caveat-font: 'Caveat', cursive;
$cormorant-garamond-font: 'Cormorant Garamond', serif;
$roboto-font: 'Roboto', sans-serif;