.App{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.app-no-nav{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: -webkit-fill-available;
}

.body{
  margin: 0px;
}